openapi: 3.0.3
info:
  contact:
    email: support@ubicloud.com
    url: https://www.ubicloud.com/
  description: API for managing resources on Ubicloud
  license:
    name: GNU Affero General Public License v3.0 (AGPL-3.0)
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  title: Clover API
  version: 0.1.0
servers:
- url: https://api.ubicloud.com
security:
- BearerAuth: []
tags:
- description: Firewall Operations
  name: Firewall
- description: Firewall Rule Operations
  name: Firewall Rule
- description: Load Balancer Operations
  name: Load Balancer
- description: Login Operations
  name: Login
- description: Postgres Operations
  name: Postgres
- description: Postgres Firewall Rule Operations
  name: Postgres Firewall Rule
- description: Postgres Metric Destination
  name: Postgres Metric Destination
- description: Private Subnet Operations
  name: Private Subnet
- description: Project Operations
  name: Project
- description: Virtual Machine Operations
  name: Virtual Machine
- name: Kubernetes VM
- name: Kubernetes Cluster
paths:
  /login:
    post:
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_200_response'
          description: Logged in successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      security: []
      summary: Login with user information
      tags:
      - Login
  /project:
    get:
      operationId: listProjects
      parameters:
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listProjects_200_response'
          description: Return the list of all projects visible to the logged in user
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      security:
      - BearerAuth: []
      summary: List all projects visible to the logged in user.
      tags:
      - Project
    post:
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createProject_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Project is created successfully.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      security:
      - BearerAuth: []
      summary: Create a new project
      tags:
      - Project
  /project/{project_id}:
    delete:
      operationId: deleteProject
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Project deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a project
      tags:
      - Project
    get:
      operationId: getProject
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Retrieved project
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Retrieve a project
      tags:
      - Project
  /project/{project_id}/firewall:
    get:
      operationId: getFirewall
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFirewall_200_response'
          description: Firewall list retrieved successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Return the list of firewalls in the project
      tags:
      - Firewall
    post:
      operationId: createFirewall
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFirewall_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firewall'
          description: Firewall created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new firewall
      tags:
      - Firewall
  /project/{project_id}/firewall/{firewall_name}:
    delete:
      operationId: deleteFirewall
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Firewall deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific firewall
      tags:
      - Firewall
    get:
      operationId: getFirewallDetails
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firewall'
          description: Details of the firewall
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific firewall
      tags:
      - Firewall
  /project/{project_id}/firewall/{firewall_name}/firewall-rule:
    post:
      operationId: createFirewallRule
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFirewallRule_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Firewall rule created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new firewall rule
      tags:
      - Firewall Rule
  /project/{project_id}/firewall/{firewall_name}/firewall-rule/{firewall_rule_id}:
    delete:
      operationId: deleteFirewallRule
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Firewall rule deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific firewall rule
      tags:
      - Firewall Rule
    get:
      operationId: getFirewallRuleDetails
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Details of the firewall rule
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a firewall rule
      tags:
      - Firewall Rule
  /project/{project_id}/load-balancer:
    get:
      operationId: listLoadBalancers
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLoadBalancers_200_response'
          description: A list of Load Balancers in a specific project
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List Load Balancers in a specific project
      tags:
      - Load Balancer
  /project/{project_id}/load-balancer/{load_balancer_name}:
    get:
      operationId: getLoadBalancer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the load balancer
        explode: false
        in: path
        name: load_balancer_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerDetailed'
          description: A list of Load Balancers in a specific project
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific Load Balancer
      tags:
      - Load Balancer
    post:
      operationId: createLoadBalancer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the load balancer
        explode: false
        in: path
        name: load_balancer_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLoadBalancer_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerDetailed'
          description: Load Balancer created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new Load Balancer in a project
      tags:
      - Load Balancer
  /project/{project_id}/location/{location}/firewall:
    get:
      operationId: getLocationFirewall
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFirewall_200_response'
          description: Firewall list retrieved successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Return the list of firewalls in the project and location
      tags:
      - Firewall
  /project/{project_id}/location/{location}/firewall/_{firewall_id}/attach-subnet:
    post:
      operationId: actionLocationFirewallAttachSubnet
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall
        explode: false
        in: path
        name: firewall_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actionLocationFirewallAttachSubnet_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallDetailed'
          description: Subnet attached successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Attach a subnet to firewall
      tags:
      - Firewall
  /project/{project_id}/location/{location}/firewall/_{firewall_id}/detach-subnet:
    post:
      operationId: actionLocationFirewallDetachSubnet
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall
        explode: false
        in: path
        name: firewall_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/actionLocationFirewallDetachSubnet_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallDetailed'
          description: Subnet detached successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Detach a subnet from firewall
      tags:
      - Firewall
  /project/{project_id}/location/{location}/firewall/id/{firewall_id}:
    delete:
      operationId: deleteLocationFirewallWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall
        explode: false
        in: path
        name: firewall_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Firewall deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific firewall
      tags:
      - Firewall
    get:
      operationId: getLocationFirewallDetailsWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall
        explode: false
        in: path
        name: firewall_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firewall'
          description: Details of the firewall
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific firewall
      tags:
      - Firewall
  /project/{project_id}/location/{location}/firewall/id/{firewall_name}/firewall-rule:
    post:
      operationId: createLocationFirewallRuleWithId
      parameters:
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFirewallRule_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Firewall rule created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new firewall rule
      tags:
      - Firewall Rule
  /project/{project_id}/location/{location}/firewall/id/{firewall_name}/firewall-rule/{firewall_rule_id}:
    delete:
      operationId: deleteLocationFirewallFirewallRuleWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Firewall rule deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific firewall rule
      tags:
      - Firewall Rule
    get:
      operationId: getLocationFirewallFirewallRuleDetailsWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Details of the firewall rule
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a firewall rule
      tags:
      - Firewall Rule
    post:
      operationId: createLocationFirewallFirewallRuleWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFirewallRule_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Firewall rule created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new firewall rule
      tags:
      - Firewall Rule
  /project/{project_id}/location/{location}/firewall/{firewall_name}:
    delete:
      operationId: deleteLocationFirewall
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Firewall deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific firewall
      tags:
      - Firewall
    get:
      operationId: getLocationFirewallDetails
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallDetailed'
          description: Details of the firewall
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific firewall
      tags:
      - Firewall
    post:
      operationId: createLocationFirewall
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLocationFirewall_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firewall'
          description: Firewall created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new firewall
      tags:
      - Firewall
  /project/{project_id}/location/{location}/firewall/{firewall_name}/firewall-rule:
    post:
      operationId: createLocationFirewallRule
      parameters:
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFirewallRule_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Firewall rule created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new firewall rule
      tags:
      - Firewall Rule
  /project/{project_id}/location/{location}/firewall/{firewall_name}/firewall-rule/{firewall_rule_id}:
    delete:
      operationId: deleteLocationFirewallFirewallRule
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Firewall rule deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific firewall rule
      tags:
      - Firewall Rule
    get:
      operationId: getLocationFirewallFirewallRuleDetails
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Details of the firewall rule
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a firewall rule
      tags:
      - Firewall Rule
    post:
      operationId: createLocationFirewallFirewallRule
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Name of the firewall
        explode: false
        in: path
        name: firewall_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFirewallRule_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Firewall rule created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new firewall rule
      tags:
      - Firewall Rule
  /project/{project_id}/location/{location}/load-balancer:
    get:
      operationId: listLocationLoadBalancers
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLoadBalancers_200_response'
          description: A list of Load Balancers in a specific location of a project
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List Load Balancers in a specific location of a project
      tags:
      - Load Balancer
  /project/{project_id}/location/{location}/load-balancer/id/{load_balancer_id}:
    delete:
      operationId: deleteLoadBalancerWithID
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: load_balancer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Load balancer is deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific Load Balancer with ID
      tags:
      - Load Balancer
    get:
      operationId: getLoadBalancerDetailsWithId
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the load balancer
        explode: false
        in: path
        name: load_balancer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerDetailed'
          description: Details of the Load Balancer in a location
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific Load Balancer in a location with ID
      tags:
      - Load Balancer
  /project/{project_id}/location/{location}/load-balancer/{load_balancer_name}:
    delete:
      operationId: deleteLoadBalancer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Name of the load balancer
        explode: false
        in: path
        name: load_balancer_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Load Balancer deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific Load Balancer
      tags:
      - Load Balancer
    get:
      operationId: getLoadBalancerDetails
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Name of the load balancer
        explode: false
        in: path
        name: load_balancer_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerDetailed'
          description: Details of the LoadBalancer
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific Load Balancer in a location
      tags:
      - Load Balancer
    patch:
      operationId: patchLocationLoadBalancer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Name of the load balancer
        explode: false
        in: path
        name: load_balancer_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchLocationLoadBalancer_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerDetailed'
          description: Load Balancer updated successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Update a Load Balancer in a specific location of a project
      tags:
      - Load Balancer
    post:
      operationId: createLocationLoadBalancer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Name of the load balancer
        explode: false
        in: path
        name: load_balancer_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLoadBalancer_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerDetailed'
          description: Load Balancer created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new Load Balancer in a specific location of a project
      tags:
      - Load Balancer
  /project/{project_id}/location/{location}/load-balancer/{load_balancer_name}/attach-vm:
    post:
      operationId: attachVmLocationLoadBalancer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Name of the load balancer
        explode: false
        in: path
        name: load_balancer_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attachVmLocationLoadBalancer_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerDetailed'
          description: VM attached to Load Balancer successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Attach a VM to a Load Balancer in a specific location of a project
      tags:
      - Load Balancer
  /project/{project_id}/location/{location}/load-balancer/{load_balancer_name}/detach-vm:
    post:
      operationId: detachVmLocationLoadBalancer
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Name of the load balancer
        explode: false
        in: path
        name: load_balancer_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/detachVmLocationLoadBalancer_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadBalancerDetailed'
          description: VM detached from Load Balancer successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Detach a VM from a Load Balancer in a specific location of a project
      tags:
      - Load Balancer
  /project/{project_id}/location/{location}/postgres:
    get:
      operationId: listLocationPostgresDatabases
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLocationPostgresDatabases_200_response'
          description: A list of Postgres databases in a specific location of a project
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List Postgres databases in a specific location of a project
      tags:
      - Postgres
  /project/{project_id}/location/{location}/postgres/_{postgres_database_id}/failover:
    post:
      operationId: failoverPostgresDatabaseWithID
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresDetailed'
          description: Details of the failed over Postgres databases in a location
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Failover a specific Postgres database with ID
      tags:
      - Postgres
  /project/{project_id}/location/{location}/postgres/_{postgres_database_id}/firewall-rule:
    get:
      operationId: listLocationPostgresFirewallRules
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLocationPostgresFirewallRules_200_response'
          description: List of the location Postgres firewall rules
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List location Postgres firewall rules
      tags:
      - Postgres Firewall Rule
    post:
      operationId: createLocationPostgresFirewallRuleWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLocationPostgresFirewallRuleWithId_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresFirewallRule'
          description: Postgres firewall rule created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new Postgres firewall rule
      tags:
      - Postgres Firewall Rule
  /project/{project_id}/location/{location}/postgres/id/{postgres_database_id}:
    delete:
      operationId: deletePostgresDatabaseWithID
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Postgres database is deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific Postgres database with ID
      tags:
      - Postgres
    get:
      operationId: getPostgresDetailsWithId
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresDetailed'
          description: Details of the Postgres databases in a location
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific Postgres database in a location with ID
      tags:
      - Postgres
  /project/{project_id}/location/{location}/postgres/id/{postgres_database_id}/firewall-rule/{firewall_rule_id}:
    delete:
      operationId: deleteLocationPostgresFirewallRuleWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Postgres firewall rule deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific Postgres firewall rule
      tags:
      - Firewall Rule
    get:
      operationId: getLocationPostgresFirewallRuleDetailsWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresFirewallRule'
          description: Details of the Postgres firewall rule
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a Postgres firewall rule
      tags:
      - Postgres Firewall Rule
    post:
      operationId: createLocationPostgresFirewallRuleWithIdWithId
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLocationPostgresFirewallRuleWithIdWithId_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresFirewallRule'
          description: Postgres firewall rule created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new Postgres firewall rule
      tags:
      - Postgres Firewall Rule
  /project/{project_id}/location/{location}/postgres/id/{postgres_database_id}/reset-superuser-password:
    post:
      operationId: resetSuperuserPasswordWithID
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resetSuperuserPasswordWithID_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresDetailed'
          description: Superuser password is updated
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Reset super-user password of the Postgres database
      tags:
      - Postgres
  /project/{project_id}/location/{location}/postgres/id/{postgres_database_id}/restore:
    post:
      operationId: restorePostgresDatabaseWithID
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database ID
        explode: false
        in: path
        name: postgres_database_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/restorePostgresDatabaseWithID_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Postgres'
          description: Postgres database is restored successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Restore a new Postgres database in a specific location of a project
        with ID
      tags:
      - Postgres
  /project/{project_id}/location/{location}/postgres/{postgres_database_name}:
    delete:
      operationId: deletePostgresDatabase
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Postgres database is deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific Postgres database
      tags:
      - Postgres
    get:
      operationId: getPostgresDatabaseDetails
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresDetailed'
          description: Details of the Postgres database
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific Postgres database in a location
      tags:
      - Postgres
    post:
      operationId: createPostgresDatabase
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPostgresDatabase_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresDetailed'
          description: Postgres database is created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new Postgres database in a specific location of a project
      tags:
      - Postgres
  /project/{project_id}/location/{location}/postgres/{postgres_database_name}/firewall-rule:
    post:
      operationId: createLocationPostgresFirewallRule
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLocationPostgresFirewallRuleWithId_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresFirewallRule'
          description: Firewall rule created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new postgres firewall rule
      tags:
      - Postgres Firewall Rule
  /project/{project_id}/location/{location}/postgres/{postgres_database_name}/firewall-rule/{firewall_rule_id}:
    delete:
      operationId: deleteLocationPostgresFirewallRule
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the firewall rule
        explode: false
        in: path
        name: firewall_rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Firewall rule deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific firewall rule
      tags:
      - Firewall Rule
  /project/{project_id}/location/{location}/postgres/{postgres_database_name}/metric-destination:
    post:
      operationId: createLocationPostgresMetricDestination
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLocationPostgresMetricDestination_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresDetailed'
          description: Postgres Metric Destiantion created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new Postgres Metric Destination
      tags:
      - Postgres Metric Destination
  /project/{project_id}/location/{location}/postgres/{postgres_database_name}/metric-destination/{metric_destination_id}:
    delete:
      operationId: deleteLocationPostgresMetricDestination
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres Metric Destination ID
        explode: false
        in: path
        name: metric_destination_id
        required: true
        schema:
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Metric Destination deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific Metric Destination
      tags:
      - Postgres Metric Destination
  /project/{project_id}/location/{location}/postgres/{postgres_database_name}/reset-superuser-password:
    post:
      operationId: resetSuperuserPassword
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resetSuperuserPasswordWithID_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresDetailed'
          description: Superuser password is updated
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Reset superuser password of the Postgres database
      tags:
      - Postgres
  /project/{project_id}/location/{location}/postgres/{postgres_database_name}/restore:
    post:
      operationId: restorePostgresDatabase
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Postgres database name
        explode: false
        in: path
        name: postgres_database_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/restorePostgresDatabaseWithID_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostgresDetailed'
          description: Postgres database is restored successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Restore a new Postgres database in a specific location of a project
      tags:
      - Postgres
  /project/{project_id}/location/{location}/private-subnet:
    get:
      operationId: listLocationPrivateSubnets
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLocationPrivateSubnets_200_response'
          description: A list of Private Subnets in a location
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List Private Subnets in a specific location of a project
      tags:
      - Private Subnet
  /project/{project_id}/location/{location}/private-subnet/id/{private_subnet_id}:
    delete:
      operationId: deletePSWithId
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Private subnet ID
        explode: false
        in: path
        name: private_subnet_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Private Subnet is deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific Private Subnet with ID
      tags:
      - Private Subnet
    get:
      operationId: getPSDetailsWithId
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Private subnet ID
        explode: false
        in: path
        name: private_subnet_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateSubnet'
          description: Details of the private subnet
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific Private Subnet in a location with ID
      tags:
      - Private Subnet
  /project/{project_id}/location/{location}/private-subnet/{private_subnet_name}:
    delete:
      operationId: deletePrivateSubnet
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Private subnet name
        explode: false
        in: path
        name: private_subnet_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Private Subnet is deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific Private Subnet
      tags:
      - Private Subnet
    get:
      operationId: getPrivateSubnetDetails
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Private subnet name
        explode: false
        in: path
        name: private_subnet_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateSubnet'
          description: Details of the private subnet
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific Private Subnet in a location
      tags:
      - Private Subnet
    post:
      operationId: createPrivateSubnet
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Private subnet name
        explode: false
        in: path
        name: private_subnet_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPrivateSubnet_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateSubnet'
          description: Private subnet is created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new Private Subnet in a specific location of a project
      tags:
      - Private Subnet
  /project/{project_id}/location/{location}/vm:
    get:
      operationId: listLocationVMs
      parameters:
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLocationVMs_200_response'
          description: A list of VMs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List VMs in a specific location of a project
      tags:
      - Virtual Machine
  /project/{project_id}/location/{location}/vm/id/{vm_id}:
    delete:
      operationId: deleteVMWithId
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Virtual machine ID
        explode: false
        in: path
        name: vm_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: VM deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific VM with ID
      tags:
      - Virtual Machine
    get:
      operationId: getVMDetailsWithId
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Virtual machine ID
        explode: false
        in: path
        name: vm_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VmDetailed'
          description: Details of the VM
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific VM in a location with ID
      tags:
      - Virtual Machine
  /project/{project_id}/location/{location}/vm/{vm_name}:
    delete:
      operationId: deleteVM
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Virtual machine name
        explode: false
        in: path
        name: vm_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: VM deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Delete a specific VM
      tags:
      - Virtual Machine
    get:
      operationId: getVMDetails
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Virtual machine name
        explode: false
        in: path
        name: vm_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VmDetailed'
          description: Details of the VM
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Get details of a specific VM in a location
      tags:
      - Virtual Machine
    post:
      operationId: createVM
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Virtual machine name
        explode: false
        in: path
        name: vm_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createVM_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VmDetailed'
          description: Virtual machine created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new VM in a specific location of a project
      tags:
      - Virtual Machine
  /project/{project_id}/postgres:
    get:
      operationId: listPostgresDatabases
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLocationPostgresDatabases_200_response'
          description: A list of Postgres databases
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List visible Postgres databases
      tags:
      - Postgres
  /project/{project_id}/private-subnet:
    get:
      operationId: listPSs
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLocationPrivateSubnets_200_response'
          description: A list of private subnets
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List visible Private Subnets
      tags:
      - Private Subnet
  /project/{project_id}/vm:
    get:
      operationId: listProjectVMs
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listLocationVMs_200_response'
          description: Return the list of all VMs visible created under the given
            project and visible to the logged in user
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List all VMs created under the given project ID and visible to logged
        in user
      tags:
      - Virtual Machine
  /project/{project_id}/kubernetes-cluster:
    get:
      operationId: getKubernetesCluster
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getKubernetesCluster_200_response'
          description: Kubernetes Cluster list retrieved successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Return the list of kubernetes clusters in the project
      tags:
      - Kubernetes Cluster
    post:
      operationId: createKubernetesCluster
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createKubernetesCluster_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KubernetesCluster'
          description: Firewall created successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: Create a new kubernetes cluster
      tags:
      - Kubernetes Cluster
  /project/{project_id}/location/{location}/kubernetes-cluster:
    get:
      operationId: listLocationKubernetesClusters
      parameters:
      - description: ID of the project
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: The Ubicloud location/region
        explode: false
        in: path
        name: location
        required: true
        schema:
          example: eu-central-h1
          type: string
        style: simple
      - description: Pagination - Start after
        explode: true
        in: query
        name: start_after
        required: false
        schema:
          type: string
        style: form
      - description: Pagination - Page size
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Pagination - Order column
        explode: true
        in: query
        name: order_column
        required: false
        schema:
          default: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getKubernetesCluster_200_response'
          description: A list of Kubernetes clusters in a location
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: an error response
      summary: List kubernetes clusters in a specific location of a project
      tags:
      - Kubernetes Cluster
  /project/{project_id}/location/{location}/kubernetes-cluster/{kubernetes_cluster_name}:
    get:
      operationId: getKubernetesClusterDetails
      parameters:
      - description: ID of the project
        explode: false
        in: path
[...]
